.map {
	font-family: monospace;
}

.cong-map {
	font-family: monospace;
	margin-top: 200px;
}

.button {

}

.builds {
	font-family: monospace;
	margin-top: -370px;
	margin-left: 500px;
}

.time {
	font-family: monospace;
	margin-left: 500px;
}